<script language="javascript">
/*Dropdown Load from MYSQL INTO RAILS*/
    $(function(){
      $('#id').bind('change', function () {
         var url = "/products/" + $(this).val()
          if (url) {
              window.location.replace(url);
          }
          return false;
      });
    });

/*DISABLED RIGHT CLICK*/
document.onmousedown=disableclick;
status="Right Click Disabled";
Function disableclick(event)
{
  if(event.button==2)
   {
     alert(status);
     return false;    
   }
}
</script>

<h1>Regulatorni znaci!</h1>

<p>
  Download:
  <%= link_to "CSV", products_path(format: "csv") %> |
  <%= link_to "Excel", products_path(format: "xls") %>
</p>

<table>
  <tbody oncontextmenu="return false">
    <% @products.each do |product| %>
      <tr class='<%= cycle('list_line_odd', 'list_line_even') %>'>
        <td><%= image_tag(product.image_url, class: 'list_image',
:size=>"80x80") %></td>
        <td class="list_description">
        <dl>
        <dt><%= product. title %></dt>
        <dd><%= truncate(strip_tags(product.description), length:80) %></dd>
        </dl>
        </td>
        <td><%= product.price %></td>
        
        <td class="list_actions">
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm:
'Are you sure?' } %>
      </td>      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= select_tag 'id',options_from_collection_for_select(@products, "id", "title") %>



</br></br></br>


<h2>Upload Products</h2>

<%= form_tag import_products_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<%= link_to 'New Product', new_product_path %>
</br></br>
<%= link_to "Home", home_path %>
</br>
</br>
<%= link_to_function "Back", "history.back()" %>
